{% extends 'base.html'%}

{% block head %}
    <title>Hello, Wold!</title>
{% endblock %}

{% block nav %}
<nav>
    <ul>
        <div class="container">
            <li><a href="/" class="active">Hello, World</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/random_fact">Random fact</a></li>
            <li><a href="/random_pass">Random Password</a></li>
        </div>
    </ul>
</nav>
{% endblock %}

{% block body %}
    <h1>Hello, World!</h1>
    <p>Hello, World!</p>
{% endblock %}

